  <div class="row align-items-center d-flex h-100">
    <div class="card text-center my-auto">
      <div class="card-body">
        <h5 class="card-title">SIGN IN</h5>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

          <!-- Email-->
          <div class="form-group">

            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-at"></i></div>
              </div>
              <input type="email" id="INPUT_EMAIL" class="form-control" id="inlineFormInputGroup" placeholder="Email"
                formControlName="email">
            </div>
          </div>

          <!-- password -->
          <div class="form-group">

            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
              </div>
              <input type="password" id="INPUT_EMAIL" class="form-control" id="inlineFormInputGroup" placeholder="password"
                formControlName="password">
            </div>
          </div>

          <div *ngIf=" loginForm.controls['email'].touched && loginForm.controls['password'].touched && !loginForm.valid "
            class="alert alert-danger" role="alert">
            email and password are required
          </div>

          <button type="submit" id='login' class="btn btn-primary"><i class="fas fa-sign-in-alt"></i></button>

        </form>
      </div>
    </div>
  </div>