<div class="card">
  <div class="card-body">
    <form *ngIf="userForm" [formGroup]="userForm" class="was-validated" novalidate>
      <!-- fisrt name  & last name-->
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" 
            formControlName="firstName" 
            id="ID_INPUT_FIRST_NAME" 
            placeholder="Prénom">
          <div  class="invalid-feedback"
          *ngIf="userForm.get('firstName').invalid && (userForm.get('firstName').dirty || userForm.get('firstName').touched)">
            <div *ngIf="userForm.get('firstName').hasError('required')">
              Prénom est obligatoire
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="lastName" id="ID_INPUT_LAST_NAME" placeholder="Nom">
          <div  class="invalid-feedback"
          *ngIf="userForm.get('lastName').invalid && (userForm.get('lastName').dirty || userForm.get('lastName').touched)">
            <div *ngIf="userForm.get('lastName').hasError('required')">
              Nom est obligatoire
            </div>
          </div>
        </div>
      </div>
      <!-- email -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="email" formControlName='email' id="ID_INPUT_EMAIL" class="form-control" placeholder="Email">
          <div  class="invalid-feedback"
            *ngIf="userForm.get('email').invalid && (userForm.get('email').dirty || userForm.get('email').touched)"
          >
            <div *ngIf="userForm.get('email').hasError('required')">
              email est obligatoire.
            </div>
            <div *ngIf="userForm.get('email').hasError('emailExists')">
               l'adresse mail est déjà utilisée
            </div>
            <div *ngIf="userForm.get('email').hasError('email')">
               format email incorrect
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <input type="password" formControlName="password" class="form-control" id="ID_INPUT_PWD" placeholder="mot de passe">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="tel" formControlName="phoneNumber" id="ID_INPUT_PHONE" class="form-control" placeholder="téléphone Mobile">
          <div *ngIf="userForm.get('phoneNumber').invalid && (userForm.get('phoneNumber').dirty || userForm.get('phoneNumber').touched)"
            class="invalid-feedback">
            <div *ngIf="userForm.get('phoneNumber').hasError('required')">
              Téléphone mobile est obligatoire.
            </div>
            <div *ngIf="userForm.get('phoneNumber').hasError('phoneNumberExists')">
                Téléphone mobile est dèjà utilisé 
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <input type="number" formControlName="socialSecurityNumber" class="form-control" id="ID_INPUT_SECURTY_NUM"
            placeholder="N° sécurité sociale">
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="address" id="ID_INPUT_ADDRESS" [ngbTypeahead]="searchAdress"
          [resultFormatter]="formatter" placeholder="Adresse" [inputFormatter]="formatter">
      </div> 
      <div class="form-group">
        <ng-select [items]="roles$ | async" bindLabel="label" appendTo="body" labelForId="roles_id" [multiple]="true"
          placeholder="Rôles utilisateur" clearAllText="Clear" formControlName="roles">
        </ng-select>
        <div *ngIf="userForm.get('roles').invalid && (userForm.get('roles').dirty || userForm.get('roles').touched)"
            class="invalid-feedback">
            <div *ngIf="userForm.get('roles').hasError('required')">
                choisir au moins 1 rôle
            </div>
          </div>
      </div>

      <div class="form-group">
        <ng-select [items]="rights$ | async" bindLabel="label" appendTo="body" labelForId="rights_ids" [multiple]="true"
          placeholder="Droits d'accès utilisateur" clearAllText="Clear" formControlName="rights">
        </ng-select>
      </div>

      <div class="form-group">
        <input type="color" class="form-control col-4" formControlName="color" value="#ffffff" id="ID_Color">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" (click)="createUser()">Enregister
      </button>
      <button type="submit" class="btn btn-primary" (click)="deleteUser()">Supprimer</button>

    </form>
  </div>
</div>