<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [routerLink]="">Driver Calendar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/calendar']" routerLinkActive="router-link-active" >Ride</a>
      </li>
      <li class="nav-item dropdown" [class.show]="showAdminSubMenu">
        <a class="nav-link dropdown-toggle" (click)="showAdminMenu()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" [class.show]="showAdminSubMenu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/admin/user']" routerLinkActive="router-link-active" (click)="showAdminMenu()">Utilisateurs</a>
        </div>
      </li>
    </ul>
  </div>
</nav>