<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="departureAdress" id="ID_INPUT_DEPART_ADRESS"
            [ngbTypeahead]="search" [resultFormatter]="formatter" placeholder="Point de depart" [inputFormatter]="formatter"
            required />
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="arrivalAddress" id="ID_INPUT_ARRIVAL_ADRESS"
            [ngbTypeahead]="search" [resultFormatter]="formatter" placeholder="Distination" [inputFormatter]="formatter"
            required />
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="customer" id="ID_INPUT_CUSTOMER" [ngbTypeahead]="searchUser"
            [resultFormatter]="formatterUser" placeholder="chercher un client par  ( Non, téléphone mobile, email, N° sécurité social )  "
            [inputFormatter]="formatterUser" required />
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="driver" id="ID_INPUT_DRIVER" [ngbTypeahead]="searchUser"
            [resultFormatter]="formatterUser" placeholder="chercher un chauffeur par son nom )" [inputFormatter]="formatterUser" />
        </div>
        <div class="form-group col-md-6">
          <input type="datetime-local" class="form-control" formControlName="departureDate" id="ID_INPUT_DEART_DATE"
            placeholder="Date de départ" required>
        </div>
        <div class="form-group">
          <ng-select [items]="typeRide$ | async" bindLabel="label" appendTo="body" labelForId="ID_RIDE_TYPE"
            placeholder="Type de course" clearAllText="Clear" formControlName="rideType">
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="TEXT_AREA_COMMENTAIRE" rows="3" formControlName="comment" placeholder="Commentaire (note)"></textarea>
      </div>


      <div>
        
        <div class="row align-items-center m-2">
          <div class="col-3 align-self-center">
              <button type="submit" class="btn btn-dark" (click)="calculer()">
                  <i class="fas fa-calculator mr-2"></i> Estimer 
              </button>
          </div>
          
        </div>
        
        <div *ngIf="form && form.value && form.value.estimate && showEstimation else loading" class="form-row" disabled>
          <div class="form-group col-md-4">
            <span type="text" class="form-control" id="idTemps"> <i class="far fa-clock mr-2"></i> {{form.value.estimate.duration?.text}} </span>
          </div>
          <div class="form-group col-md-4">
            <span class="form-control" id="idDistance"> <i class="far fa-paper-plane mr-2"></i> {{form.value.estimate.distance?.text}} </span>
          </div>
          <div class="form-group col-md-4">
            <span class="form-control" id="idPrice"> <i class="fas fa-euro-sign mr-2"></i>{{form.value.estimate.price?.text}} </span>
          </div>
        </div>
      </div>



      <button type="submit" class="btn btn-dark float-right" [disabled]="form.invalid" (click)="submit()"><i class="far fa-save mr-2"></i> Enregister</button>

    </form>
  </div>
</div>

<ng-template #loading>
    <div *ngIf="showLoadingEstimation" class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i>
      <br> Loading events...
    </div>
</ng-template>